@use './mixins' as *;
@use './typography' as *;
@use './variables' as *;
@use './global';

.footer{
    display: flex;
    flex-direction: column;
    background-color: $color-primary;
    color: $color-secondary;
    padding: 1rem;

    @include tablet {
        flex-direction: row;
        flex-wrap: wrap;
        padding: 2rem 4rem;
    }

    @include desktop{
        flex-direction: row;
        flex-wrap: wrap;
        padding: 2rem 5rem;
    }


    &__info{
        @include tablet {
            width: 80%;
            display: flex;
            flex-wrap: wrap;
        }
    }

    &__title {
        @include tablet {
            padding-right: 3rem;
            
        }
    }

    &__social {
        display: flex;
        justify-content: space-between;
        height: 1.25rem;
        width: 7.5rem;

        @include tablet {
            
            width: 7.5rem;
            align-self: center;
        }
    }

    &__connect{
        padding-bottom: 2rem;
        margin-bottom: 1rem;

        @include tablet {
            display: flex;
        }

        @include desktop {
            display: flex;
            width: 90%;
        }
    }

    &__id {
        font-size: 1rem;
    }

    &__associates{
        @include tablet {
            padding-right: 2rem;
        }
        @include desktop {
            padding-right: 5rem;
        }

    }


    &__list {
        list-style: none;
        padding-left: 0;
        min-width: 0;
    }

    &__address {
        font-family: "avenir";
        font-weight: 400;
        font-size: .8125rem;
    }

    &__icon {
        height: 1.25rem;
        width: 7.5rem;
        @include tablet{
            padding-top: 2rem;
            width: 20%;
        }

        @include desktop {
            width: 20%;
        }
    }
  

}