@use './mixins';
@use './typography' as *;
@use './variables' as *;
@use './global';

.footer{
    background-color: $color-primary;
    color: $color-secondary;
    padding: 1rem;

    &__social {
        display: flex;
        justify-content: space-between;
        height: 1.25rem;
        width: 7.5rem;
    }

    &__connect{
        padding-bottom: 2rem;
        margin-bottom: 1rem;
    }
    &__list {
        list-style: none;
        padding-left: 0;
        
    }

    &__address {
        font-family: avenir;
        font-weight: 400;
        font-size: .8125rem;
        
    }

    &__icon {
        height: 1.25rem;
        width: 7.5rem;
    }    

   

}