@use './mixins' as *;
@use './typography';
@use './variables' as *;
@use './global';


.header{
    background-color: $color-primary;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 1rem;
    
    @include tablet{
        flex-direction: row;
        padding: 0 2rem;
       
    }
    @include desktop{
        flex-direction: row;
        padding: 0 3rem 0 8rem;
    }

    &__logoimg{
        height: 2.25rem;
        width: 12.5rem;

        @include tablet {
            width: 9.5rem;
            
        }
       
    }

    &__navbar{
        width: 100%;
        margin-top: 1rem;

        @include tablet{
            margin: 0;
            padding: 0;
           
        }
        
    }
    &__navlist {
        list-style: none;
        padding: .3125rem 0 0 0;
        display: flex;
        justify-content: space-around;
        margin: 0;
        flex: 1;

        @include tablet{
            justify-content: flex-start;
            flex: 0;
            padding: 0;
        }
       
    }

    &__items {
        display: flex;
        flex: 1;
        @include tablet{
            flex: 0;
            padding-left: 2rem;
        }
    
    }

    &__link {
        text-decoration: none;
        color: $color-quinary;
        padding: 0 1rem 1rem 1rem;
        display: flex;
        flex: 1;
        justify-content: center;


        @include tablet{
            padding: 2rem 0;
            margin-left: 3rem;
            flex: 0;
        }
        @include desktop{
            margin-left: 2rem;
        }

        &:hover{
            background-color: $color-quaternary;
            color: $color-secondary;
        }

        &--active {
            border-bottom: 0.25rem solid $color-secondary; 
            font-weight: bold;
        }
    }
}