@use './mixins' as *;
@use './typography';
@use './variables' as *;
@use './global';

.header{
    background-color: $color-primary;
    padding: 1rem 1rem 1rem 0;

  
    &__logo{
        height: 2.25rem;
        width: 7.5rem;
    } 

    &__navbar{
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%; 
        justify-content: center; 
        
        @include tablet{
            flex-direction: row;
           
        }
        @include desktop{
            flex-direction: row;
            padding: 0 36px;
        }
    }

    &__link {
        @include tablet {
            padding: 0 2.25rem;
        }
        @include desktop{
            padding: 0 36px;
        }
    }

    &__navlist{
        width: 100%;
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        justify-content: space-between;

        @include tablet{
            justify-content: flex-start;
            align-items: flex-start;
        }
        @include desktop{
            justify-content: flex-start;
            align-items: flex-start;
        }
        
    }
    

    &__items {
        text-decoration: none;
        color: $color-secondary;
        text-decoration: none;
        padding: 0 2rem 1rem 2rem; 
        
        @include tablet{
            padding: 0 1rem 1.5rem 1rem
        }

        @include desktop{
            padding: 0 1rem 1.5rem 1rem
        }

        &:hover{
            background-color: $color-quaternary;
        }

        &--active {
            border-bottom: 0.25rem solid $color-secondary; 
        }
    }


}