@use './mixins';
@use './typography';
@use './variables' as *;
@use './global';

.header{
    background-color: $color-primary;
    padding: 1rem 1rem 1rem 0;
    width: 100%;

  
    &__logo{
        height: 1.25rem;
        width: 7.5rem;
    } 

    &__navbar{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%; 
        justify-content: center;    
    }

    &__navlist{
        width: 100%;
        display: flex;
        list-style: none;
        margin-bottom: 0;
        padding: 0;
        justify-content: space-between;
    }
    

    &__items {
        text-decoration: none;
        color: $color-secondary;
        text-decoration: none;
        padding: 0 2rem 1rem 2rem; 

        &:hover{
            background-color: $color-quaternary;
        }

        &--active {
            border-bottom: 0.25rem solid $color-secondary; 
        }
    }


}