
@font-face {
    font-family: 'avenir';
    src:    url(../../assets/fonts/font_woff_files/AvenirNextLTPro-Regular.woff2) format("woff2");
}

@font-face {
    font-family: 'avenir-bold';
    src: url(../../assets/fonts/font_woff_files/AvenirNextLTPro-Bold.woff2) format("woff2");
}

@font-face {
    font-family: 'avenir-demi';
    src: url(../../assets/fonts/font_woff_files/AvenirNextLTPro-Demi.woff2) format("woff2");
}


h1{
    font-family: avenir;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
}

h2{
    font-family: avenir-bold;
    font-size: 1.5rem;
    line-height: 2rem;
}

h3{
    font-family: avenir-demi;
    font-size: .875rem;
    line-height: 1.375rem;
   
}

li {
    font-family: avenir-demi;
    font-size: .875rem;
    line-height: 1.375rem;
    
}

p {
    font-family: avenir;
    font-size: .8125rem;
    line-height: 2rem;
   
}

